[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
jupyter = "*"
tqdm = "*"
bs4 = "*"
requests = "*"
lxml = "*"
pandas = "*"

[requires]
python_version = "3.7"
